In [1]:
import pandas as pd
import os
import glob

In [4]:
all_files = glob.glob("../data/to_merge/*.csv")

df_list = []

for file in all_files:
    df = pd.read_csv(file)
    df['date'] = pd.to_datetime(df['date'])
    df_list.append(df)

merged_df = pd.concat(df_list, ignore_index=True)

merged_df.to_csv("../data/yelp_merged.csv", index=False)

In [2]:
all_files = glob.glob("../data/to_merge_imdb/*.csv")

df_list = []

for file in all_files:
    df = pd.read_csv(file)
    # df['date'] = pd.to_datetime(df['date'])
    df_list.append(df)

merged_df = pd.concat(df_list, ignore_index=True)

merged_df.to_csv("../data/imdb_merged.csv", index=False)

In [4]:
yelp_classification = pd.read_csv("../data/yelp_for_classification.csv")

# imdb random set

In [3]:
imdb = pd.read_csv(r"C:\Users\Philipp\Meine Ablage\2_Universit√§t\Wirtschaftsinformatik\7. Semester\Bachelorarbeit (Bandwagon Effect)\Daten\Classify\imdb_for_classification.csv")

In [8]:
imdb.dropna(inplace=True)

In [9]:
imdb = imdb.sample(frac=1, random_state=42)

In [12]:
imdb.head()

,index_prev,date,user,item,review_rating,review_text,review_length,bandwagon
1464441,1464441,2017-09-20,jkelt,Mother! (2017),7.0,"******Here Be Spoilers!*******I enjoyed ""Mothe...",569,0
1350354,1350354,2016-05-22,bkoganbing,Nancy Drew (2007),6.0,"Stepping into the shoes of Bonita Granville, P...",214,0
1863188,1863188,2020-11-30,ggeorge-4,August Rush (2007),9.0,I miss seeing this. It is my all-time favorite...,22,0
600426,600426,2006-03-23,darklordofmetal,Detroit Rock City (1999),10.0,This Movie is WICKED! WHAT A GREAT MOVIE! If y...,188,0
1467959,1467959,2017-10-04,agro_sydney,The Dead Zone (1983),9.0,"One of my all time favorite films, Stephen Kin...",117,0

In [11]:
imdb.rename(columns={'Unnamed: 0':'index_prev'}, inplace=True)

In [13]:
imdb.to_csv(r"C:\Users\Philipp\Desktop\imdb_for_classification_shuffle2.csv", index=False)

# all imdb

In [3]:
imdb_all_not_pred = pd.read_csv(r"C:\Users\Philipp\Desktop\imdb_for_classification_shuffle2.csv")

In [9]:
imdb_all_not_pred.tail()

,index_prev,date,user,item,review_rating,review_length,bandwagon
21921,1876991,2021-01-08,xtasissw,Room (I) (2015),9.0,54,0
628131,1877292,2021-01-08,tirza_reinders,Pirates of the Caribbean: Dead Men Tell No Tal...,6.0,55,0
579694,1877318,2021-01-08,freddieyoung-90957,Requiem for a Dream (2000),10.0,118,0
867453,1877104,2021-01-08,amanbirsingh,42 (2013),7.0,211,0
639718,1877154,2021-01-08,butskhrikidze,Timecrimes (2007),4.0,83,0

In [4]:
imdb_all_not_pred.drop(columns=['review_text'], inplace=True)

In [7]:
imdb_all_not_pred.sort_values(by='date', inplace=True)

In [5]:
imdb_all_not_pred.to_csv("../data/imdb_all_not_pred.csv", index=False)